* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

/* customise scroll bar */
.sidebar::-webkit-scrollbar {
    width: 0px;
}
/* mobile nav bar */
nav.mobile-navbar {
    position: static;
    display: none;
  
}
nav.mobile-navbar a{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav.mobile-navbar a img{
    width: 20px;
}
nav.mobile-navbar a p{
    font-size: 10px;
    text-align: center;
}


nav {
    display: flex;
    align-items: center;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right img:last-child {
    width: 35px;
    border-radius: 50%;
    margin-right: 0px;

}

img.menu-icon {
    width: 25px;
    margin-right: 25px;
}

img.logo {
    width: 130px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-div {
    display: flex;
    align-items: center;
    justify-content: space-between
}

img.mic-icon {
    width: 16px;
    margin-right: 10px;
}

.search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

input.search-input {
    width: 400px;
    border: 0px;
    outline: 0px;
    background: transparent;
}

.search-box img {
    width: 15px;

}

/* <!---------------- sidbar------------ --> */
.sidebar {
    background: #fff;
    width: 20%;

    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-left: 2%;
    padding-top: 80px;
    overflow-y: scroll;
    transition-property: width;
    transition-duration: 2s;

    

}

.shortcut-link a img {
    width: 20px;
    margin-right: 20px;
}

.shortcut-link a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;

}

.shortcut-link a:first-child {
    color: red;
}

.sidebar hr {
    border: 0px;
    height: 1px;
    background: #fff;
    width: 85%;
}

.subscribed-list h3 {
    font-size: 13px;
    margin: 20px 0px;
    color: #5a5a5a;

}

.subscribed-list a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    font-size: 13px;

}

.subscribed-list a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar {
    width: 5%;
    
    transition-property: width;
    transition-duration: 2s;

}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;

}

/* <!-- -------------------main---------- --> */
.container {
    width: 100%;
    padding-left: 21%;
    padding-right: 2%;
    margin-top: 20px;


}

.large-container {
    padding-left: 10%;

}

.banner {
    width: 100%;
    height: 300px;
    background: linear-gradient(145deg, rgba(11, 12, 11, 0.65), rgba(255, 255, 255, 0.65)), url("https://random.imagecdn.app/500/150");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);

}

.banner img {
    width: 200px;
    margin-left: 200px;
    margin-top: 25px;
}

.banner h3 {
    padding-left: 50px;
    padding-top: 50px;
    font-size: 35px;
    color: blanchedalmond;
}

.list-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
}

.vid-list .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.vid-list .flex-div {
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-div img {
    width: 35px;
    margin-right: 2px;
    border-radius: 50%;
}

.vid-info {
    color: #5a5a5a;
    text-align: justify;
    font-size: 13px;
}

.vid-info a {
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

@media (max-width:425px) {
    nav.mobile-navbar{
        display: block;
        display: flex;
    }
    mobile-navbar{
        display: block;
    }
    img.menu-icon {
        display: none;

    }

    .sidebar {
        display: none;
    }

    .container,
    .large-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav-right img {
        display: none;
    }

    .nav-right img:last-child {
        display: block;
    }

    .nav-middle .search-box input {
        width: 100px;
    }

    img.logo {
        width: 50px;
    }

    .banner h3 {
        font-size: 20px;
    }

    .banner img {
        width: 100px;
        width: 100px;
        margin-left: 100px;
        margin-top: 20px;
    }
    img.mic-icon {
        width: 12px;
       
    }

}
@media (max-width:768px){
    .sidebar{
        width: 17%;
        font-size: 12px;
    } 
    .small-sidebar{
        width: 7%;
    }
    .subscribed-list{
        font-size: 10px;
    }
    img.menu-icon{
        width: 20px;
    }
    img.logo{
        width: 80px;
    }
    input.search-input{
        width: 200px;
    }
    img.mic-icon{
        width: 13px;
        margin-right: 0px;

    }
    .nav-right img{
        width: 20px;
        margin-right: 20px;
    }
    
.subscribed-list a p{
    font-size: 10px;
}

}
